{% extends "base.html" %}
{% load staticfiles %}
{% load markdown_deux_tags %}

{% block css %}
{{block.super}}
<link href="{% static 'css/detail.css' %}" rel="stylesheet">
{% endblock %}


{% block breadcrumb %}
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="/devblog">devblog</a>
    <span class="breadcrumb-item active">{{ object.title}}</span>
</nav>
{% endblock %}

{% block content %}
<div class="row">
<div class="col-12 col-md-3 push-md-9">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item"><a class="nav-link active" href="{% url 'devblog:update' object.slug %}">Update</a>
      </li>
      <li class="nav-item"><a class="nav-link " href="{% url 'devblog:delete' object.slug %}">Delete</a>
      </li>
    </ul>
</div>
<div class="col-12 col-md-9 pull-md-3">
    <h3>{{ object.title }}</h3>
    <small>{{object.user}}</small>
    <div class="content">{{ object.text }}</div>
</div>

<div class="testmarked"></div>
</div>

{% endblock %}

