{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_extra %}
    {{ form.media }}
{% endblock head_extra %}

{% block content %}
<div class="row">
<div class="col-12 col-md-8 offset-md-2">
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ form| crispy }}
    <input type="submit" value="Save" />
</form>
</div>
<div class="col-12 col-md-8 offset-md-2">
    <hr/>
    <h1>Preview</h1>
    <br>
    <h3 id="preview-title"></h3>
    <p id="preview-content"></p>
</div>
</div>

{% endblock %}